# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
node_modules/

# Leaderboard files
rates_graph.json
elo_scores.json
